/* General styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #333;
    color: white;
    padding: 1em 0;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 1em;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li a.active {
    font-weight: bold;
    border-bottom: 2px solid white;
}

main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em;
    flex-direction: column;
    max-width: 800px;
    margin: auto;
}

.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}

h1, h2, h3 {
    color: #333;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em 0;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
}

.project, .experience, .education {
    margin-bottom: 2em;
}

#contact {
    padding: 3em 2em;
    background-color: #f4f4f4;
    margin-bottom: 4em;
}

#contact p {
    margin-bottom: 1.5em;
}

#contact ul {
    list-style: none;
    padding: 0;
}

#contact ul li {
    margin-bottom: 1em;
}


#contact a {
    color: blue /* Override the visited link color */
}

#contact a:visited {
    color: purple /* Override the visited link color */
}

#contact a:hover {
    color: darkblue
}






/* Responsive styles */
@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav ul li {
        margin: 0.5em 0;
    }
}
